@charset "utf-8";

@import url(http://fonts.googleapis.com/css?family=Open+Sans:400,600,700,800,300);

a,
a:focus,
a:hover {
  color: #fff;
}

.bandana a,
.bandana a:focus,
.bandana a:hover {
  color: #27ae60;
}


/* Custom button */
.btn-lg {
  font-family: "Open Sans", sans-serif;
}

.btn-success { border-color: #4CAF50; background-color: #4CAF50; color:#FFF;}

.btn-success:hover { border-color: #43A047; background-color: #43A047; }

.btn-danger { border-color: #FF7070; background-color: #FF7070; color:#FFF;}

.btn-danger:hover { border-color: #FBABAB; background-color: #FBABAB; }

.btn-warning { border-color: #1976D2; background-color: #1976D2; color:#FFF;}

.btn-warning:hover { border-color: #2196F3; background-color: #2196F3; }



html,
body {
  height: 100%;
  background-size: 100% auto;
  background: url('../img/bg.png');
}

.site-wrapper {
  width: 100%;
  height: 100%; /* For at least Firefox */
  /*background: url('../img/bg.png');*/
  /*background-color: #FFFFFF;*/
  min-height: 100%;
}

.site-wrapper {
  font-family: "Open Sans", sans-serif;
  color: #333;
  margin-top:0px;
  text-align: center;
  -webkit-font-smoothing: antialiased
}

.site-wrapper-inner {
  height: -webkit-calc(100% - 40px);
  height: -moz-calc(100% - 40px);
  height: calc(100% - 40px);
}

.cover-container {
  position: relative;
  top: 35%;
  -webkit-transform: translateY(-45%);
  -ms-transform: translateY(-45%);
  transform: translateY(-45%);
  width: 100%;
}

/* Padding for spacing */
.inner {
  padding: 30px;
}

#js-warning .panel-body {
  background-color: #3c6eb4;
}

/*
 * Header
 */
.masthead-brand {
  margin-top: 0px;
  margin-bottom: 10px;
  margin-right: auto;
  margin-left: auto;
  display: block;
  width: 64px;
  height: 64px;
  /*background-size: 141px 45px;*/
  background: url('../img/logo.png');
  background-repeat: no-repeat;
  text-indent: -9999px;
}

.masthead-nav > li {
  display: inline-block;
}
.masthead-nav > li + li {
  margin-left: 20px;
}
.masthead-nav > li > a {
  color: #555;
  padding-right: 0;
  padding-left: 0;
  border-bottom: 2px solid transparent;
}
.masthead-nav > li > a:hover,
.masthead-nav > li > a:focus {
  border-bottom-color: #333;
}

.masthead-nav > .active > a,
.masthead-nav > .active > a:hover,
.masthead-nav > .active > a:focus {
  color: #333;
  border-bottom-color: #333;
}

.dropdown-menu {
    min-width: 105px;
}

.masthead, .mastfoot {
  margin-right: auto;
  margin-left: auto;
  margin-bottom: 10px;
}

.mastfoot {
    height: 40px;
}

.mastfoot .icon {
  font-size: 20px;
}

.mastfoot .love .icon {
  font-size: 12px;
  margin-left: 2px;
  margin-right: 2px;
}

@media (min-width: 768px) {
  .masthead-brand {
    float: left;
  }
  .masthead-nav {
    float: right;
  }
}


.cover {
  padding: 0 20px;
}

.cover .btn-lg {
  padding: 10px 20px;
  color: #fff;
}

.bandana {
  width: 100%;
  margin-bottom: 25px;
  padding: 20px;
  position: relative;
  overflow: hidden;
}


.glyph {
  color: #d32f2f;
}

.title {
    font-size: 60pt;
    font-weight: 800;
}

.segue1 {
    font-size: 20pt;
    font-weight: 300;
    padding: 0 10% 0 10%;
}

.segue2 {
    font-size: 15pt;
    font-weight:300;
}

.subtitle {
    font-size: 10pt;
    margin-top: -10px;
}

.lead {
    margin-bottom: 10px;
    font-size: 16px;
    font-weight: 200;
    line-height: 1.4;
}

/*@media (max-width: 498px) {
  .title { font-size: 32pt; }
}*/
@media (min-width: 400px) {
    .title { font-size: 42pt; }
    .segue1 { font-size: 12pt; }
    .segue2 { font-size: 20pt; }
    .subtitle { font-size: 14pt; }
    .mastfoot { display: block; }
    .bandana {
    /*min-height: 200px;*/
    background-image: -moz-radial-gradient(center top , ellipse farthest-side, rgba(140, 140, 140, 0.5), rgba(140, 140, 140, 0) 95%), -moz-radial-gradient(center top , ellipse farthest-side, rgba(220, 220, 220, 0.5), rgba(220, 220, 220, 0)), -moz-radial-gradient(center top , ellipse farthest-side, rgba(220, 220, 220, 0.3), rgba(220, 220, 220, 0));
    background-image: -webkit-radial-gradient(center top , ellipse farthest-side, rgba(140, 140, 140, 0.5), rgba(140, 140, 140, 0) 95%), -webkit-radial-gradient(center top , ellipse farthest-side, rgba(220, 220, 220, 0.5), rgba(220, 220, 220, 0)), -webkit-radial-gradient(center top , ellipse farthest-side, rgba(220, 220, 220, 0.3), rgba(220, 220, 220, 0));
    background-image: -o-radial-gradient(center top , ellipse farthest-side, rgba(140, 140, 140, 0.5), rgba(140, 140, 140, 0) 95%), -o-radial-gradient(center top , ellipse farthest-side, rgba(220, 220, 220, 0.5), rgba(220, 220, 220, 0)), -o-radial-gradient(center top , ellipse farthest-side, rgba(220, 220, 220, 0.3), rgba(220, 220, 220, 0));
    background-image: radial-gradient(center top , ellipse farthest-side, rgba(140, 140, 140, 0.5), rgba(140, 140, 140, 0) 95%), radial-gradient(center top , ellipse farthest-side, rgba(220, 220, 220, 0.5), rgba(220, 220, 220, 0)), radial-gradient(center top , ellipse farthest-side, rgba(220, 220, 220, 0.3), rgba(220, 220, 220, 0));
    background-size: 100% 5px, 100% 100px, 100% 100%;
    background-repeat: no-repeat;
    }

}

@media (min-width: 768px) {
  .title { font-size: 50pt; }
  .segue1 { font-size: 18pt; }
  .segue2 { font-size: 30pt; }
  .subtitle { font-size: 24pt; }
  .bandana .img { display: inline-block; }
  /* Handle the widths */
  .masthead,
  .mastfoot {
    width: 100%; /* Must be percentage or pixels for horizontal alignment */
  }
}

@media (min-width: 992px) {
  .masthead,
  .mastfoot {
    width: 950px;
  }
}
