<!DOCTYPE html>
<html lang="en"><head>
<meta http-equiv="content-type" content="text/html; charset=UTF-8">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="What can I learn from Udacity?">
    <meta name="author" content="Rahul Ranjan">
    <link rel="shortcut icon" href="static/themes/udacity/img/favicon.png">

    <title>What can I learn from Udacity?</title>

    <link href="static/bootstrap/css/bootstrap.css" rel="stylesheet">
    <link href="static/themes/udacity/css/site.css" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="../static/css/jquery.uls.css">
    <link rel="stylesheet" type="text/css" href="../static/css/jquery.uls.grid.css">
    <link rel="stylesheet" type="text/css" href="../static/css/jquery.uls.lcd.css">
    <script>
        var SEP = '#';
        var all_ids = [
    "foo",
    "mobile",
    "android",
    "android-basics",
    "android-developer",
    "ios",
    "ios-basics",
    "ios-developer",
    "basic-programming",
    "python",
    "java",
    "javascript",
    "swift",
    "artificial-intelligence",
    "machine-learning",
    "self-driving-car",
    "web",
    "front-end-development",
    "senior-web-developer",
    "full-stack-developer",
    "data",
    "data-analyst",
    "machine-learningb"
];
        var question_tree = {
    "backlink": "Get me outta here!",
    "children": [
        {
            "backlink": "I think I made a mistake",
            "subtitle": "Learn how to build apps that run on smart phones",
            "title": "Mobile",
            "children": [
                {
                    "backlink": "Get me outta here!",
                    "subtitle": "Make apps for Android Phones",
                    "title": "Android",
                    "negative": "Next, please",
                    "children": [
                        {
                            "backlink": "I think I made a mistake",
                            "subtitle": "Learn Java and start building apps for Android",
                            "title": "Android Basics",
                            "negative": "Nope",
                            "affirmative": "Totally",
                            "href": "https://www.udacity.com/course/android-basics-nanodegree-by-google--nd803",
                            "id": "android-basics"
                        },
                        {
                            "backlink": "I think I made a mistake",
                            "subtitle": "Head towards Android Mastery learning tools, principles and patterns underlying Android Development",
                            "title": "Android Developer",
                            "negative": "No",
                            "affirmative": "Sounds awesome",
                            "href": "https://www.udacity.com/course/android-developer-nanodegree-by-google--nd801",
                            "id": "android-developer"
                        }
                    ],
                    "segue1": "Excellent",
                    "segue2": "Where do you want to begin?",
                    "affirmative": "That's me!",
                    "id": "android"
                },
                {
                    "backlink": "Get me outta here!",
                    "subtitle": "Make apps for iPad and iPhone",
                    "title": "iOS",
                    "negative": "Next, please",
                    "children": [
                        {
                            "backlink": "I think I made a mistake",
                            "subtitle": "Develop core skills to start developing apps for iPad and iPhone",
                            "title": "iOS Basics",
                            "negative": "Nope, nope, nope",
                            "affirmative": "Yes",
                            "href": "https://www.udacity.com/course/beginning-ios-app-development-nanodegree--nd006",
                            "id": "ios-basics"
                        },
                        {
                            "backlink": "Get me outta here!",
                            "subtitle": "Master Swift and become an expert iOS Developer",
                            "title": "iOS Developer",
                            "negative": "No, thanks",
                            "affirmative": "Sounds awesome",
                            "href": "https://www.udacity.com/course/ios-developer-nanodegree--nd003",
                            "id": "ios-developer"
                        }
                    ],
                    "segue1": "Excellent",
                    "Segue2": "Where do you want to begin?",
                    "affirmative": "Tell me more",
                    "id": "ios"
                }
            ],
            "negative": "Nope, nope, nope",
            "affirmative": "Sounds awesome",
            "id": "mobile"
        },
        {
            "backlink": "I was wrong, take me back",
            "subtitle": "Learn the basics of how to code",
            "title": "Basic Programming",
            "children": [
                {
                    "backlink": "I was wrong, take me back",
                    "subtitle": "Learn object oriented programming in Python",
                    "title": "Python",
                    "negative": "Nope",
                    "affirmative": "That's me!",
                    "href": "https://www.udacity.com/course/programming-foundations-with-python--ud036",
                    "id": "python"
                },
                {
                    "backlink": "I was wrong, take me back",
                    "subtitle": "Learn how to program in Java with classes and objects",
                    "title": "Java",
                    "negative": "No",
                    "affirmative": "Totally",
                    "href": "https://www.udacity.com/course/intro-to-java-programming--cs046",
                    "id": "java"
                },
                {
                    "backlink": "I was wrong, take me back",
                    "subtitle": "Learn the language that power the web",
                    "title": "JavaScript",
                    "negative": "No",
                    "affirmative": "Sounds awesome",
                    "href": "https://www.udacity.com/course/javascript-basics--ud804",
                    "id": "javascript"
                },
                {
                    "backlink": "I was wrong, take me back",
                    "subtitle": "Learn how to build your first iPhone app",
                    "title": "Swift",
                    "negative": "No, thanks",
                    "affirmative": "Tell me more",
                    "href": "https://www.udacity.com/course/intro-to-ios-app-development-with-swift--ud585",
                    "id": "swift"
                }
            ],
            "negative": "Nope",
            "affirmative": "Tell me more",
            "id": "basic-programming"
        },
        {
            "backlink": "I was wrong, take me back",
            "subtitle": "Learn how to make interesting predictions from data",
            "title": "Artificial Intelligence",
            "children": [
                {
                    "backlink": "I was wrong, take me back",
                    "subtitle": "Make predictive models for massive data sets in education, finance, healthcare or robotics",
                    "title": "Machine Learning",
                    "negative": "Doesn't sound like me",
                    "affirmative": "Yes",
                    "href": "https://www.udacity.com/course/machine-learning-engineer-nanodegree-by-google--nd009",
                    "id": "machine-learning"
                },
                {
                    "backlink": "I think I made a mistake",
                    "subtitle": "Build the future, today",
                    "title": "Self Driving Car",
                    "negative": "No, thanks",
                    "affirmative": "Yes",
                    "href": "https://www.udacity.com/course/self-driving-car-engineer-nanodegree--nd013",
                    "id": "self-driving-car"
                }
            ],
            "negative": "Absolutely not",
            "affirmative": "Sure",
            "id": "artificial-intelligence"
        },
        {
            "backlink": "I think I made a mistake",
            "subtitle": "Learn how to make apps that run on the internet",
            "title": "Web",
            "children": [
                {
                    "backlink": "I was wrong, take me back",
                    "subtitle": "Design stunning User Experiences",
                    "title": "Front End Development",
                    "negative": "No",
                    "affirmative": "Totally",
                    "href": "https://www.udacity.com/course/front-end-web-developer-nanodegree--nd001",
                    "id": "front-end-development"
                },
                {
                    "backlink": "I was wrong, take me back",
                    "subtitle": "Master tools, techiniques and frameworks to build complex web apps",
                    "title": "Senior Web Developer",
                    "negative": "Absolutely not",
                    "affirmative": "Sure",
                    "href": "https://www.udacity.com/course/senior-web-developer-nanodegree-by-google--nd802",
                    "id": "senior-web-developer"
                },
                {
                    "backlink": "Get me outta here!",
                    "subtitle": "Learn how to make server side, data driven applications that run on the web",
                    "title": "Full Stack Developer",
                    "negative": "Absolutely not",
                    "affirmative": "That's me!",
                    "href": "https://www.udacity.com/course/full-stack-web-developer-nanodegree--nd004",
                    "id": "full-stack-developer"
                }
            ],
            "negative": "No, thanks",
            "affirmative": "Tell me more",
            "id": "web"
        },
        {
            "backlink": "I was wrong, take me back",
            "subtitle": "Find interesting patterns in data",
            "title": "Data",
            "children": [
                {
                    "backlink": "I was wrong, take me back",
                    "subtitle": "Learn how to clean data, dervice patterns and insights, make predications and present your findings",
                    "title": "Data Analyst",
                    "negative": "Absolutely not",
                    "affirmative": "Tell me more",
                    "href": "https://www.udacity.com/course/data-analyst-nanodegree--nd002",
                    "id": "data-analyst"
                },
                {
                    "backlink": "Get me outta here!",
                    "subtitle": "Make predictive models for massive data sets in education, finance, healthcare or robotics",
                    "title": "Machine Learning",
                    "negative": "Nope, nope, nope",
                    "affirmative": "Totally",
                    "href": "https://www.udacity.com/course/machine-learning-engineer-nanodegree-by-google--nd009",
                    "id": "machine-learningb"
                }
            ],
            "negative": "Absolutely not",
            "affirmative": "Yes",
            "id": "data"
        }
    ],
    "negative": "Next, please",
    "affirmative": "Totally",
    "segue1": "Want to learn from Udacity?",
    "segue2": "What's your area of interest?",
    "id": "foo"
};
    </script>

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
  </head>

  <body>

    <div class="site-wrapper">

      <div class="site-wrapper-inner">

        <div class="masthead clearfix">
          <div class="inner">
            <h3 class="masthead-brand">What can I learn from Udacity?</h3>
            <nav>
              <ul class="nav masthead-nav">
                    <li
                    class="active"
                    ><a href="javascript:reloadHome();">Home</a></li>
                    <li
                    ><a href="https://www.udacity.com/nanodegree">Nanodegrees</a></li>
              </ul>
            </nav>
          </div>
        </div>

        <div class="cover-container">

          <div id='js-warning'>
            <div class=" panel panel-warning">
              <div class="panel-heading clearfix">
                <span class="pull-left"> This page requires JavaScript </span>
              </div>
              <div class="panel-body">
                <p class="lead">This page only works with JavaScript enabled.</p>
                <p>If you have JavaScript disabled with a plugin like NoScript, please
                disable that plugin and reload the page.  If you trust us, you
                might find it convenient to enable JavaScript just
                for this domain.</p>
                <p>If you are opposed to JavaScript in principle, you're not left out!
                You can read the page source to get at all the data.</p>
              </div>
            </div>
          </div>





            <div id="mobile" class="cover hidden">

              <p class="segue1">Want to learn from Udacity?</p>

              <p class="segue2">What's your area of interest?</p>

              <div class="bandana">
                <span class="main-text">
                  <h1 class="title">Mobile</h1>

                  <p class="subtitle">
                    <span>Learn how to build apps that run on smart phones</span>
                  </p>
                </span>
              </div>
                <p class="lead">
                  <a data-next="android" class="yes btn btn-success btn-lg"><span class="glyphicon glyphicon-thumbs-up"></span> Sounds awesome</a>
                </p>


                <p class="lead">
                  <a data-next="basic-programming" class="nope btn btn-danger btn-lg"><span class="glyphicon glyphicon-thumbs-down"></span> Nope, nope, nope</a>
                </p>
            </div>



            <div id="android" class="cover hidden">



              <div class="bandana">
                <span class="main-text">
                  <h1 class="title">Android</h1>

                  <p class="subtitle">
                    <span>Make apps for Android Phones</span>
                  </p>
                </span>
              </div>
                <p class="lead">
                  <a data-next="android-basics" class="yes btn btn-success btn-lg"><span class="glyphicon glyphicon-thumbs-up"></span> That's me!</a>
                </p>


                <p class="lead">
                  <a data-next="ios" class="nope btn btn-danger btn-lg"><span class="glyphicon glyphicon-thumbs-down"></span> Next, please</a>
                </p>
              <p class="lead">
                <a class="back btn btn-warning btn-lg"><span class="glyphicon glyphicon-arrow-left"></span> Get me outta here!</a>
              </p>
            </div>



            <div id="android-basics" class="cover hidden">

              <p class="segue1">Excellent</p>

              <p class="segue2">Where do you want to begin?</p>

              <div class="bandana">
                <span class="main-text">
                  <h1 class="title">Android Basics</h1>

                  <p class="subtitle">
                    <span>Learn Java and start building apps for Android</span>
                  </p>
                </span>
              </div>
                  <a href="https://www.udacity.com/course/android-basics-nanodegree-by-google--nd803" target="_blank" class="btn btn-success btn-lg"><span class="glyphicon glyphicon-thumbs-up"></span> Totally</a>
                </p>

                <p class="lead">
                  <a data-next="android-developer" class="nope btn btn-danger btn-lg"><span class="glyphicon glyphicon-thumbs-down"></span> Nope</a>
                </p>
              <p class="lead">
                <a class="back btn btn-warning btn-lg"><span class="glyphicon glyphicon-arrow-left"></span> I think I made a mistake</a>
              </p>
            </div>





            <div id="android-developer" class="cover hidden">

              <p class="segue1">Excellent</p>

              <p class="segue2">Where do you want to begin?</p>

              <div class="bandana">
                <span class="main-text">
                  <h1 class="title">Android Developer</h1>

                  <p class="subtitle">
                    <span>Head towards Android Mastery learning tools, principles and patterns underlying Android Development</span>
                  </p>
                </span>
              </div>
                  <a href="https://www.udacity.com/course/android-developer-nanodegree-by-google--nd801" target="_blank" class="btn btn-success btn-lg"><span class="glyphicon glyphicon-thumbs-up"></span> Sounds awesome</a>
                </p>

                <p class="lead">
                  <a data-next="android-basics" class="nope btn btn-danger btn-lg"><span class="glyphicon glyphicon-thumbs-down"></span> No</a>
                </p>
              <p class="lead">
                <a class="back btn btn-warning btn-lg"><span class="glyphicon glyphicon-arrow-left"></span> I think I made a mistake</a>
              </p>
            </div>







            <div id="ios" class="cover hidden">



              <div class="bandana">
                <span class="main-text">
                  <h1 class="title">iOS</h1>

                  <p class="subtitle">
                    <span>Make apps for iPad and iPhone</span>
                  </p>
                </span>
              </div>
                <p class="lead">
                  <a data-next="ios-basics" class="yes btn btn-success btn-lg"><span class="glyphicon glyphicon-thumbs-up"></span> Tell me more</a>
                </p>


                <p class="lead">
                  <a data-next="android" class="nope btn btn-danger btn-lg"><span class="glyphicon glyphicon-thumbs-down"></span> Next, please</a>
                </p>
              <p class="lead">
                <a class="back btn btn-warning btn-lg"><span class="glyphicon glyphicon-arrow-left"></span> Get me outta here!</a>
              </p>
            </div>



            <div id="ios-basics" class="cover hidden">

              <p class="segue1">Excellent</p>


              <div class="bandana">
                <span class="main-text">
                  <h1 class="title">iOS Basics</h1>

                  <p class="subtitle">
                    <span>Develop core skills to start developing apps for iPad and iPhone</span>
                  </p>
                </span>
              </div>
                  <a href="https://www.udacity.com/course/beginning-ios-app-development-nanodegree--nd006" target="_blank" class="btn btn-success btn-lg"><span class="glyphicon glyphicon-thumbs-up"></span> Yes</a>
                </p>

                <p class="lead">
                  <a data-next="ios-developer" class="nope btn btn-danger btn-lg"><span class="glyphicon glyphicon-thumbs-down"></span> Nope, nope, nope</a>
                </p>
              <p class="lead">
                <a class="back btn btn-warning btn-lg"><span class="glyphicon glyphicon-arrow-left"></span> I think I made a mistake</a>
              </p>
            </div>





            <div id="ios-developer" class="cover hidden">

              <p class="segue1">Excellent</p>


              <div class="bandana">
                <span class="main-text">
                  <h1 class="title">iOS Developer</h1>

                  <p class="subtitle">
                    <span>Master Swift and become an expert iOS Developer</span>
                  </p>
                </span>
              </div>
                  <a href="https://www.udacity.com/course/ios-developer-nanodegree--nd003" target="_blank" class="btn btn-success btn-lg"><span class="glyphicon glyphicon-thumbs-up"></span> Sounds awesome</a>
                </p>

                <p class="lead">
                  <a data-next="ios-basics" class="nope btn btn-danger btn-lg"><span class="glyphicon glyphicon-thumbs-down"></span> No, thanks</a>
                </p>
              <p class="lead">
                <a class="back btn btn-warning btn-lg"><span class="glyphicon glyphicon-arrow-left"></span> Get me outta here!</a>
              </p>
            </div>









            <div id="basic-programming" class="cover hidden">

              <p class="segue1">Want to learn from Udacity?</p>

              <p class="segue2">What's your area of interest?</p>

              <div class="bandana">
                <span class="main-text">
                  <h1 class="title">Basic Programming</h1>

                  <p class="subtitle">
                    <span>Learn the basics of how to code</span>
                  </p>
                </span>
              </div>
                <p class="lead">
                  <a data-next="python" class="yes btn btn-success btn-lg"><span class="glyphicon glyphicon-thumbs-up"></span> Tell me more</a>
                </p>


                <p class="lead">
                  <a data-next="artificial-intelligence" class="nope btn btn-danger btn-lg"><span class="glyphicon glyphicon-thumbs-down"></span> Nope</a>
                </p>
            </div>



            <div id="python" class="cover hidden">



              <div class="bandana">
                <span class="main-text">
                  <h1 class="title">Python</h1>

                  <p class="subtitle">
                    <span>Learn object oriented programming in Python</span>
                  </p>
                </span>
              </div>
                  <a href="https://www.udacity.com/course/programming-foundations-with-python--ud036" target="_blank" class="btn btn-success btn-lg"><span class="glyphicon glyphicon-thumbs-up"></span> That's me!</a>
                </p>

                <p class="lead">
                  <a data-next="java" class="nope btn btn-danger btn-lg"><span class="glyphicon glyphicon-thumbs-down"></span> Nope</a>
                </p>
              <p class="lead">
                <a class="back btn btn-warning btn-lg"><span class="glyphicon glyphicon-arrow-left"></span> I was wrong, take me back</a>
              </p>
            </div>





            <div id="java" class="cover hidden">



              <div class="bandana">
                <span class="main-text">
                  <h1 class="title">Java</h1>

                  <p class="subtitle">
                    <span>Learn how to program in Java with classes and objects</span>
                  </p>
                </span>
              </div>
                  <a href="https://www.udacity.com/course/intro-to-java-programming--cs046" target="_blank" class="btn btn-success btn-lg"><span class="glyphicon glyphicon-thumbs-up"></span> Totally</a>
                </p>

                <p class="lead">
                  <a data-next="javascript" class="nope btn btn-danger btn-lg"><span class="glyphicon glyphicon-thumbs-down"></span> No</a>
                </p>
              <p class="lead">
                <a class="back btn btn-warning btn-lg"><span class="glyphicon glyphicon-arrow-left"></span> I was wrong, take me back</a>
              </p>
            </div>





            <div id="javascript" class="cover hidden">



              <div class="bandana">
                <span class="main-text">
                  <h1 class="title">JavaScript</h1>

                  <p class="subtitle">
                    <span>Learn the language that power the web</span>
                  </p>
                </span>
              </div>
                  <a href="https://www.udacity.com/course/javascript-basics--ud804" target="_blank" class="btn btn-success btn-lg"><span class="glyphicon glyphicon-thumbs-up"></span> Sounds awesome</a>
                </p>

                <p class="lead">
                  <a data-next="swift" class="nope btn btn-danger btn-lg"><span class="glyphicon glyphicon-thumbs-down"></span> No</a>
                </p>
              <p class="lead">
                <a class="back btn btn-warning btn-lg"><span class="glyphicon glyphicon-arrow-left"></span> I was wrong, take me back</a>
              </p>
            </div>





            <div id="swift" class="cover hidden">



              <div class="bandana">
                <span class="main-text">
                  <h1 class="title">Swift</h1>

                  <p class="subtitle">
                    <span>Learn how to build your first iPhone app</span>
                  </p>
                </span>
              </div>
                  <a href="https://www.udacity.com/course/intro-to-ios-app-development-with-swift--ud585" target="_blank" class="btn btn-success btn-lg"><span class="glyphicon glyphicon-thumbs-up"></span> Tell me more</a>
                </p>

                <p class="lead">
                  <a data-next="python" class="nope btn btn-danger btn-lg"><span class="glyphicon glyphicon-thumbs-down"></span> No, thanks</a>
                </p>
              <p class="lead">
                <a class="back btn btn-warning btn-lg"><span class="glyphicon glyphicon-arrow-left"></span> I was wrong, take me back</a>
              </p>
            </div>







            <div id="artificial-intelligence" class="cover hidden">

              <p class="segue1">Want to learn from Udacity?</p>

              <p class="segue2">What's your area of interest?</p>

              <div class="bandana">
                <span class="main-text">
                  <h1 class="title">Artificial Intelligence</h1>

                  <p class="subtitle">
                    <span>Learn how to make interesting predictions from data</span>
                  </p>
                </span>
              </div>
                <p class="lead">
                  <a data-next="machine-learning" class="yes btn btn-success btn-lg"><span class="glyphicon glyphicon-thumbs-up"></span> Sure</a>
                </p>


                <p class="lead">
                  <a data-next="web" class="nope btn btn-danger btn-lg"><span class="glyphicon glyphicon-thumbs-down"></span> Absolutely not</a>
                </p>
            </div>



            <div id="machine-learning" class="cover hidden">



              <div class="bandana">
                <span class="main-text">
                  <h1 class="title">Machine Learning</h1>

                  <p class="subtitle">
                    <span>Make predictive models for massive data sets in education, finance, healthcare or robotics</span>
                  </p>
                </span>
              </div>
                  <a href="https://www.udacity.com/course/machine-learning-engineer-nanodegree-by-google--nd009" target="_blank" class="btn btn-success btn-lg"><span class="glyphicon glyphicon-thumbs-up"></span> Yes</a>
                </p>

                <p class="lead">
                  <a data-next="self-driving-car" class="nope btn btn-danger btn-lg"><span class="glyphicon glyphicon-thumbs-down"></span> Doesn't sound like me</a>
                </p>
              <p class="lead">
                <a class="back btn btn-warning btn-lg"><span class="glyphicon glyphicon-arrow-left"></span> I was wrong, take me back</a>
              </p>
            </div>





            <div id="self-driving-car" class="cover hidden">



              <div class="bandana">
                <span class="main-text">
                  <h1 class="title">Self Driving Car</h1>

                  <p class="subtitle">
                    <span>Build the future, today</span>
                  </p>
                </span>
              </div>
                  <a href="https://www.udacity.com/course/self-driving-car-engineer-nanodegree--nd013" target="_blank" class="btn btn-success btn-lg"><span class="glyphicon glyphicon-thumbs-up"></span> Yes</a>
                </p>

                <p class="lead">
                  <a data-next="machine-learning" class="nope btn btn-danger btn-lg"><span class="glyphicon glyphicon-thumbs-down"></span> No, thanks</a>
                </p>
              <p class="lead">
                <a class="back btn btn-warning btn-lg"><span class="glyphicon glyphicon-arrow-left"></span> I think I made a mistake</a>
              </p>
            </div>







            <div id="web" class="cover hidden">

              <p class="segue1">Want to learn from Udacity?</p>

              <p class="segue2">What's your area of interest?</p>

              <div class="bandana">
                <span class="main-text">
                  <h1 class="title">Web</h1>

                  <p class="subtitle">
                    <span>Learn how to make apps that run on the internet</span>
                  </p>
                </span>
              </div>
                <p class="lead">
                  <a data-next="front-end-development" class="yes btn btn-success btn-lg"><span class="glyphicon glyphicon-thumbs-up"></span> Tell me more</a>
                </p>


                <p class="lead">
                  <a data-next="data" class="nope btn btn-danger btn-lg"><span class="glyphicon glyphicon-thumbs-down"></span> No, thanks</a>
                </p>
            </div>



            <div id="front-end-development" class="cover hidden">



              <div class="bandana">
                <span class="main-text">
                  <h1 class="title">Front End Development</h1>

                  <p class="subtitle">
                    <span>Design stunning User Experiences</span>
                  </p>
                </span>
              </div>
                  <a href="https://www.udacity.com/course/front-end-web-developer-nanodegree--nd001" target="_blank" class="btn btn-success btn-lg"><span class="glyphicon glyphicon-thumbs-up"></span> Totally</a>
                </p>

                <p class="lead">
                  <a data-next="senior-web-developer" class="nope btn btn-danger btn-lg"><span class="glyphicon glyphicon-thumbs-down"></span> No</a>
                </p>
              <p class="lead">
                <a class="back btn btn-warning btn-lg"><span class="glyphicon glyphicon-arrow-left"></span> I was wrong, take me back</a>
              </p>
            </div>





            <div id="senior-web-developer" class="cover hidden">



              <div class="bandana">
                <span class="main-text">
                  <h1 class="title">Senior Web Developer</h1>

                  <p class="subtitle">
                    <span>Master tools, techiniques and frameworks to build complex web apps</span>
                  </p>
                </span>
              </div>
                  <a href="https://www.udacity.com/course/senior-web-developer-nanodegree-by-google--nd802" target="_blank" class="btn btn-success btn-lg"><span class="glyphicon glyphicon-thumbs-up"></span> Sure</a>
                </p>

                <p class="lead">
                  <a data-next="full-stack-developer" class="nope btn btn-danger btn-lg"><span class="glyphicon glyphicon-thumbs-down"></span> Absolutely not</a>
                </p>
              <p class="lead">
                <a class="back btn btn-warning btn-lg"><span class="glyphicon glyphicon-arrow-left"></span> I was wrong, take me back</a>
              </p>
            </div>





            <div id="full-stack-developer" class="cover hidden">



              <div class="bandana">
                <span class="main-text">
                  <h1 class="title">Full Stack Developer</h1>

                  <p class="subtitle">
                    <span>Learn how to make server side, data driven applications that run on the web</span>
                  </p>
                </span>
              </div>
                  <a href="https://www.udacity.com/course/full-stack-web-developer-nanodegree--nd004" target="_blank" class="btn btn-success btn-lg"><span class="glyphicon glyphicon-thumbs-up"></span> That's me!</a>
                </p>

                <p class="lead">
                  <a data-next="front-end-development" class="nope btn btn-danger btn-lg"><span class="glyphicon glyphicon-thumbs-down"></span> Absolutely not</a>
                </p>
              <p class="lead">
                <a class="back btn btn-warning btn-lg"><span class="glyphicon glyphicon-arrow-left"></span> Get me outta here!</a>
              </p>
            </div>







            <div id="data" class="cover hidden">

              <p class="segue1">Want to learn from Udacity?</p>

              <p class="segue2">What's your area of interest?</p>

              <div class="bandana">
                <span class="main-text">
                  <h1 class="title">Data</h1>

                  <p class="subtitle">
                    <span>Find interesting patterns in data</span>
                  </p>
                </span>
              </div>
                <p class="lead">
                  <a data-next="data-analyst" class="yes btn btn-success btn-lg"><span class="glyphicon glyphicon-thumbs-up"></span> Yes</a>
                </p>


                <p class="lead">
                  <a data-next="mobile" class="nope btn btn-danger btn-lg"><span class="glyphicon glyphicon-thumbs-down"></span> Absolutely not</a>
                </p>
            </div>



            <div id="data-analyst" class="cover hidden">



              <div class="bandana">
                <span class="main-text">
                  <h1 class="title">Data Analyst</h1>

                  <p class="subtitle">
                    <span>Learn how to clean data, dervice patterns and insights, make predications and present your findings</span>
                  </p>
                </span>
              </div>
                  <a href="https://www.udacity.com/course/data-analyst-nanodegree--nd002" target="_blank" class="btn btn-success btn-lg"><span class="glyphicon glyphicon-thumbs-up"></span> Tell me more</a>
                </p>

                <p class="lead">
                  <a data-next="machine-learningb" class="nope btn btn-danger btn-lg"><span class="glyphicon glyphicon-thumbs-down"></span> Absolutely not</a>
                </p>
              <p class="lead">
                <a class="back btn btn-warning btn-lg"><span class="glyphicon glyphicon-arrow-left"></span> I was wrong, take me back</a>
              </p>
            </div>





            <div id="machine-learningb" class="cover hidden">



              <div class="bandana">
                <span class="main-text">
                  <h1 class="title">Machine Learning</h1>

                  <p class="subtitle">
                    <span>Make predictive models for massive data sets in education, finance, healthcare or robotics</span>
                  </p>
                </span>
              </div>
                  <a href="https://www.udacity.com/course/machine-learning-engineer-nanodegree-by-google--nd009" target="_blank" class="btn btn-success btn-lg"><span class="glyphicon glyphicon-thumbs-up"></span> Totally</a>
                </p>

                <p class="lead">
                  <a data-next="data-analyst" class="nope btn btn-danger btn-lg"><span class="glyphicon glyphicon-thumbs-down"></span> Nope, nope, nope</a>
                </p>
              <p class="lead">
                <a class="back btn btn-warning btn-lg"><span class="glyphicon glyphicon-arrow-left"></span> Get me outta here!</a>
              </p>
            </div>






        </div>

      </div>

      <div class="mastfoot">
        <div class="inner">
          <p class="love">Made with <i class="glyphicon glyphicon-heart glyph"></i> in India </p>
        </div>
      </div>
    </div>

    <script src="static/jquery/js/jquery-2.1.3.min.js"></script>
    <script src="static/bootstrap/js/bootstrap.js"></script>
    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <!-- <script src="static/bootstrap/js/ie10-viewport-bug-workaround.js"></script> -->
    <!-- This is where the magic happens -->
    <script src="static/js/site.js"></script>
    <!-- language selector -->

    <script type="text/javascript" src="../static/js/jquery.uls.data.js"></script>
    <script type="text/javascript" src="../static/js/jquery.uls.data.utils.js"></script>
    <script type="text/javascript" src="../static/js/jquery.uls.lcd.js"></script>
    <script type="text/javascript" src="../static/js/jquery.uls.languagefilter.js"></script>
    <script type="text/javascript" src="../static/js/jquery.uls.regionfilter.js"></script>
    <script type="text/javascript" src="../static/js/jquery.uls.core.js"></script>
    <script type="text/javascript">
        /* This list is generated, don't edit here */
        $(function() {
            $('#selectedLang').val('en')
            $( '.uls-trigger' ).uls( {
                onSelect : function( language ) {
                    var languageName = $.uls.data.getAutonym( language );
                    $( '.uls-trigger' ).text( languageName );
                    $('#selectedLang').val(language);
                    window.location = "/"+language;
                },
                languages: { 'en' : 'English'
                }
            } );
            // Language list is a placeholder
        } );
    </script>

    <!-- Go to www.addthis.com/dashboard to customize your tools -->
    <script type="text/javascript" src="//s7.addthis.com/js/300/addthis_widget.js#pubid=ra-579cde29e3b679ad"></script>
  </body>
</html>
